.card {
  width: 340px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 0 0 10px;
}

.card-content p {
  color: #555;
  font-size: 14px;
}